.card {
  padding: var(--spacing-small);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-card-bg);
}

.title {
  color: var(--color-card-fg);
}

.thumbnail {
  width: var(--sizing-large);
  height: 192px;
  object-fit: cover;
}

.description {
  color: var(--color-card-fg);
}
