.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: var(--color-header-bg);
  color: var(--color-header-fg);
  padding: var(--spacing-medium);
}

.main {
  flex-grow: 1;
  padding: var(--spacing-medium);
}

.footer {
  background-color: var(--color-footer-bg);
  color: var(--color-footer-fg);
  padding: var(--spacing-medium);
}
